<section class="section account-start-from-scratch-section">
  <h1 class="devplace">
    devpalce —
    <span>онлайн-образование по востребованным<br/>IT-направлениям с опытом реальных собеседований</span>
  </h1>
  <h2 class="section-header account-start-from-scratch">запуск аккаунта с нуля</h2>
  <p class="section-description description">
    Разработали полное визуальное оформление и<br/>
    фирменный стиль компании, который использовался во<br/>
    всех направлениях продвижения. Проработка с нуля<br/>
    целей и ценностей компании, выбор стратегии<br/>
    продвижения и знакомства с пользователями.<br/>
    Организовывали фотосессию для запуска аккаунта,<br/>
    разрабатывали стратегию контента, включая<br/>
    образовательные материалы и информацию о курсах.<br/>
    С помощью разных инструментов доносили ценности<br/>
    школы, поддерживая обратную связь с учениками.
  </p>
  <img class="picture"
       src="assets/images/devplace/instagram.png"
       alt="скриншоты из Instagram компании devplace"
       width="475"
       height="554">
</section>
<section class="section site-design-development-from-scratch-section">
  <h2 class="section-header site-design-development-from-scratch">разработка дизайна<br/>сайта с нуля</h2>
  <p class="section-description description">
    Сохраняя общую концепцию и фирменный стиль<br/>
    бренда, разработали и оформили дизайн<br/>
    полноценного сайта, нацеленный на<br/>
    предоставление полной информации о продуктах<br/>
    и услугах компании, а также о преподавательском<br/>
    составе. В процессе разработки было уделено<br/>
    внимание не только дизайну и визуальному<br/>
    оформлению, но и функциональности, чтобы сайт<br/>
    был максимально удобным для пользователей<br/>
    и мог привлечь и удержать потенциальных<br/>
    клиентов.
  </p>
  <img class="picture"
       src="assets/images/devplace/devices.png"
       alt="телефон, монитор, ноутбук"
       width="491"
       height="473">
</section>
<section class="section advertisement-creatives-creation-section">
  <h2 class="section-header advertisement-creatives-creation">оформление<br/>рекламных креативов</h2>
  <p class="section-description description">
    В целях привлечения дополнительной аудитории,<br/>
    увеличения продаж и освещения акционных<br/>
    предложений и подарков, прибегали к<br/>
    таргетированной рекламе. Для этого разрабатывался<br/>
    дизайн креативов и адаптировался под необходимые<br/>
    размеры. Результатом стала увеличенная видимость<br/>
    DevPlace, увеличение числа студентов и укрепление<br/>
    позиций в образовательной сфере
  </p>
  <img class="picture"
       src="assets/images/devplace/creatives.png"
       alt="рекламные креативы"
       width="536"
       height="473">
</section>
<section class="section logotype-development-section">
  <h2 class="section-header logotype-development">разработка<br/>логотипа</h2>
  <p class="section-description description">
    Так как бренд создавался с нуля и мы развивали<br/>
    фирменный стиль, то и концепция логотипа<br/>
    разрабатывалась нами. При отрисовке были<br/>
    учтены все пожелания бренда, сделаны акценты<br/>
    на простону, лаконичность и удобство.
  </p>
  <img class="picture"
       src="assets/images/devplace/devpalce-white.png"
       alt="телефон, монитор, ноутбук"
       width="1080"
       height="1080">
  <img class="arrow"
       src="assets/images/devplace/arrow.png"
       alt="стрелка"
       width="108"
       height="103">
</section>

<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
