<section class="section account-start-from-scratch-section">
  <h1 class="it-station">
    it station —
    <span>онлайн-образование в сфере IT, которое позволяет не только<br/>найти новую работу, но и переквалифицироваться в сфере</span>
  </h1>
  <h2 class="section-header account-start-from-scratch">запуск аккаунта с нуля</h2>
  <p class="section-description description">
    Мы создали уникальный стиль и образ бренда компании,<br/>
    который применялся во всех аспектах её продвижения.<br/>
    Начали с нуля, изучив цели и ценности компании, выбрав<br/>
    стратегию продвижения и узнавая потребности<br/>
    пользователей. Разработали стратегию контента,<br/>
    включая материалы образовательного характера и<br/>
    информацию о предлагаемых курсах. Мы использовали<br/>
    различные инструменты, чтобы передать ценности<br/>
    школы, и поддерживали активный диалог с учениками,<br/>
    чтобы получить обратную связь.
  </p>
  <img class="picture"
       src="assets/images/station/start-account-from-scratch.webp"
       alt="скриншоты из Instagram компании Station"
       width="481"
       height="558">
</section>
<section class="section site-design-development-from-scratch-section">
  <h2 class="section-header site-design-development-from-scratch">разработка дизайна<br/>сайта с нуля</h2>
  <p class="section-description description">
    Сохранив общую идею и стиль бренда, мы<br/>
    разработали и создали дизайн полноценного веб-<br/>
    сайта, цель которого — предоставить полную<br/>
    информацию о продуктах и услугах компании, а<br/>
    также о составе преподавательского персонала.<br/>
    При разработке уделено внимание не только<br/>
    дизайну и оформлению, но и функциональности,<br/>
    чтобы сайт был максимально удобным для<br/>
    пользователей и способен привлекать и<br/>
    удерживать потенциальных клиентов.
  </p>
  <img class="picture"
       src="assets/images/station/site-design-development-from-scratch.webp"
       alt="сайт компании Station"
       width="491"
       height="473">
</section>
<section class="section forming-advertisement-creatives-section">
  <h2 class="section-header forming-advertisement-creatives">оформление<br/>рекламных креативов</h2>
  <p class="section-description description">
    Для расширения аудитории, увеличения объемов<br/>
    продаж и акцентирования внимания на специальных<br/>
    предложениях и подарках мы применяли<br/>
    таргетированную рекламу. Это включало разработку<br/>
    дизайна креативов и их адаптацию под различные<br/>
    форматы. В результате мы заметно увеличили<br/>
    узнаваемость IT Station, привлекли больше студентов<br/>
    и укрепили нашу позицию на рынке образования.
  </p>
  <img class="picture"
       src="assets/images/station/advertisement-creative-forming.webp"
       alt="скриншоты рекламных креативов"
       width="443"
       height="434">
</section>
<section class="section logotype-development-section">
  <h2 class="section-header logotype-development">разработка<br/>логотипа</h2>
  <p class="section-description description">
    Так как бренд создавался с нуля и мы развивали<br/>
    фирменный стиль, то и концепция логотипа<br/>
    разрабатывалась нами. При отрисовке были<br/>
    учтены все пожелания бренда, сделаны акценты<br/>
    на простону, лаконичность и удобство.
  </p>
  <div class="logotype-wrapper">
    <img class="logo"
         src="assets/images/station/station-logo.png"
         alt="логотип компании Station"
         width="412"
         height="177">
    <img class="arrow"
         src="assets/images/station/arrow.png"
         alt="стрелка"
         width="124"
         height="79">
  </div>
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
