<section class="section account-start-from-scratch-section">
  <h1 class="golden-shark">
    золотая акула —
    <span>онлайн-образование по востребованным<br/>IT-направлениям с опытом реальных собеседований</span>
  </h1>
  <h2 class="section-header account-start-from-scratch">запуск аккаунта с нуля</h2>
  <p class="section-description description">
    Так как мы столкнулись с ситуацией, где основной<br/>
    аккаунт состоял на 90% из ботов или “неживых”<br/>
    пользователях, было принято решение завести новую<br/>
    страницу. Магазин работает в двух направлениях:<br/>
    рыболовные и охотничьи товары и товары для домашних<br/>
    животных. Ранее велись два разных аккаунта для<br/>
    разделения направлений, мы разработали стратегию и<br/>
    контент-план для их объединения, чтобы собрать всю<br/>
    аудиторию в одном место. Разработали полное<br/>
    визуальное оформление и фирменный стиль компании в<br/>
    соответствии с имеющимся сайтом и видением бренда.
  </p>
  <img class="picture"
       src="assets/images/golden-shark/account-start-from-scratch.webp"
       alt="скриншоты из Instagram компании Золотая акула"
       width="475"
       height="554">
</section>
<section class="section organic-promotion-with-tiktok-section">
  <h2 class="section-header organic-promotion-with-tiktok">органическое<br/>продвижение с<br/>помощью tiktok</h2>
  <p class="section-description description">
    Видеоконтент представляет собой мощный<br/>
    инструмент для создания взаимодействия с<br/>
    аудиторией, увеличения узнаваемости бренда,<br/>
    продвижения продуктов и услуг, а также<br/>
    установления долгосрочных отношений с<br/>
    клиентами.В стратегию развития аккаунта,<br/>
    повышения доверия пользователей к нему и<br/>
    привлечения подписчиков входили не только<br/>
    развлекательные видео, но и экспертные.
  </p>
  <img class="picture"
       src="assets/images/golden-shark/organic-promotion-with-help-of-tiktok.webp"
       alt="скриншоты reels из TikTok"
       width="495"
       height="539">
</section>
<section class="section logotype-redesign-section">
  <h2 class="section-header logotype-redesign">редизайн логотипа</h2>
  <p class="section-description description">
    В ходе работы было принято решение о редизайне<br/>
    логотипа. Обновленный логотип может придать<br/>
    бренду современный и актуальный облик, что<br/>
    поможет удерживать внимание аудитории и<br/>
    оставаться конкурентоспособным на рынке.<br/>
    Сохранив основную концепцию, мы сделали<br/>
    логотип более свежим и лаконичным,<br/>
    придерживаясь основных цветов бренда.
  </p>
  <div class="logotype-wrapper">
    <img class="old"
         src="assets/images/golden-shark/golden-shark-old.png"
         alt="скриншоты страниц сайта Innodom"
         width="325"
         height="232">
    <img class="new"
         src="assets/images/golden-shark/golden-shark-new.png"
         alt="скриншоты страниц сайта Innodom"
         width="353"
         height="276">
    <img class="arrow"
         src="assets/images/golden-shark/golden-shark-arrow.png"
         alt="скриншоты страниц сайта Innodom"
         width="102"
         height="109">
  </div>
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
