<div class="header-wrapper">
  <nav class="header-navigation">
    <a class="logo-link" routerLink="/">
      <img class="logo-image" ngSrc="assets/images/logo.svg" alt="app logo" width="111" height="40" />
    </a>

    <ul class="links-list">
      <li class="list-item">
        <a routerLink="services"
           routerLinkActive="active-link"
           class="list-link"
           title="Услуги">
          Услуги
        </a>
      </li>
      <li class="list-item">
        <a routerLink="cases"
           routerLinkActive="active-link"
           class="list-link"
           title="Кейсы">
          Кейсы
        </a>
      </li>
      <li class="list-item">
        <a routerLink="contacts"
           routerLinkActive="active-link"
           class="list-link"
           title="Контакты">
          Контакты
        </a>
      </li>
      <li class="list-item">
        <a routerLink="about-us"
           routerLinkActive="active-link"
           class="list-link"
           title="О нас">
          О нас
        </a>
      </li>
      <li class="list-item">
        <a [routerLink]="submitApplicationRoute" [fragment]="'application-form'"
           class="list-link"
           title="оставить заявку">
          оставить заявку
        </a>
      </li>
    </ul>
  </nav>
</div>
