<section class="section account-repack-section">
  <h1 class="visa-global">
    visa global —
    <span>визовое агентство, которое поможет<br/>открыть визу в любую точку мира</span>
  </h1>
  <h2 class="section-header account-repack">переупаковка аккаунта</h2>
  <p class="section-description description">
    Доработали и внесли изменения в  фирменный стиль на<br/>
    основе предпочтений бренда и его ценностей, а также<br/>
    ввели дополнительный акцентный цвет, который помог<br/>
    разнообразить визуал и сделать его более свежим.<br/>
    Переупаковали все хайлайтсы и их наполнение,<br/>
    заменили информацию на актуальную. Провели<br/>
    <span>фотосессии с коллективом</span>, чтобы представить<br/>
    сотрудников и вызвать доверительные отношения с<br/>
    пользователями. Акцент при общении с пользователями<br/>
    был сделан на шутки и дружеский тон.
  </p>
  <div class="picture-wrapper">
    <img class="picture"
         src="assets/images/visa-global/acoount-repack.webp"
         alt="скриншоты из Instagram компании visa global, до и после"
         width="481"
         height="675">
    <div class="before-after">
      <span>до</span>
      <span>после</span>
    </div>
  </div>
</section>
<section class="section promotion-with-reels-section">
  <h2 class="section-header promotion-with-reels">продвижение с<br/>помощью reels</h2>
  <p class="section-description description">
    Регулярное размещение качественного материала<br/>
    может помочь привлечь новых подписчиков и<br/>
    увеличить активность в профиле. Стратегия<br/>
    взаимодействия бренда с аудиторией была<br/>
    выстроена на “персонажах” и дружеской атмосфере,<br/>
    которой придерживается визовый центр. Делали<br/>
    акцент на увеличение узнаваемости бренда,<br/>
    продвижения продуктов и услуг, а также<br/>
    установления долгосрочных отношений с<br/>
    клиентами.В стратегию развития аккаунта,<br/>
    повышения доверия пользователей к нему и<br/>
    привлечения подписчиков входили не только<br/>
    развлекательные видео, но и экспертные.
  </p>
  <img class="picture"
       src="assets/images/visa-global/promotion-with-reels.webp"
       alt="скриншоты reels из Instagram"
       width="566"
       height="667">
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
