<section class="our-services-section">
  <div class="text">
    <h2 class="our-services">
      <span class="first">наши услуги –</span><br/>это полный<br/>пакет того, что<br/>сделает вас<br/><span class="second">лидером рынка</span>
    </h2>
    <p class="low-level">
      Низкий уровень присутствия в социальных сетях —<br/>
      основная проблема бизнеса, который не привлекает<br/>
      максимальное количество аудитории к себе. Многие<br/>
      компании осознают важность наличия в социальных<br/>
      медиа, но у них отсутствует стратегия и понимание<br/>
      того, как правильно использовать социальные<br/>
      платформы для достижения своих целей
    </p>
    <submit-application-link-button class="submit-button"
                                    [type]="submitApplicationButtonType.Purple"></submit-application-link-button>
  </div>
  <img class="girls-looking-at-phone"
       src="assets/images/girls-looking-at-phone.png"
       alt="девушки смотрят в телефон"
       width="607"
       height="1110">
</section>
<section class="our-principles">
  <h2 class="header">наши принципы</h2>
  <ul class="principles-list">
    <div class="row first-row">
      <li class="list-item">
        <span class="item-header">Исследование</span>
        <p class="item-description">Мы погружаемся в каждый проект с<br/>головой: проводим исследования,<br/>изучаем ваш опыт и ваших конкурентов</p>
        <span class="number">01</span>
      </li>
      <li class="list-item">
        <span class="item-header">Прозрачность</span>
        <p class="item-description">Мы всегда на связи с нашими клиентами<br/>в чатах и поддерживаем отношения<br/>даже после окончания сотрудничества</p>
        <span class="number">02</span>
      </li>
      <li class="list-item">
        <span class="item-header">Бюджет</span>
        <p class="item-description">У нас есть различные пакеты для<br/>бизнесов любого размера. Вы точно<br/>сможете выбрать что-то подходящее</p>
        <span class="number">03</span>
      </li>
    </div>
    <div class="row">
      <li class="list-item">
        <span class="item-header">Локация</span>
        <p class="item-description">Мы не ограничены только территорией<br/>Минска, так как вся команда отлично<br/>справляется с удаленным форматом</p>
        <span class="number">04</span>
      </li>
      <li class="list-item">
        <span class="item-header">Многозадачность</span>
        <p class="item-description">За плечами много опыта в различных<br/>сферах, поэтому мы сможем подобрать<br/>то, что подойдет именно вам</p>
        <span class="number">05</span>
      </li>
      <li class="list-item">
        <span class="item-header">Команда</span>
        <p class="item-description">Более 10 сотрудников с большим опытом<br/>работы, которые готовы делать ваш<br/>бизнес более заметным</p>
        <span class="number">06</span>
      </li>
    </div>
  </ul>
  <img class="disco-ball"
       src="assets/images/disco-ball.png"
       alt="диско шар"
       height="483"
       width="443">
  <img class="ellipse-purple"
       src="assets/images/our-principles-ellipse-purple.png"
       alt="ellipse-purple"
       width="1141"
       height="577">
</section>
<section class="lets-get-to-know-each-other-section">
  <ul class="list-of-words">
    <div class="words-row words-1-row">
      <li class="word-item with-white-ellipse">маркетинговый анализ</li>
      <li class="word-item">анализ конкурентов</li>
      <li class="word-item">анализ целевой аудитории</li>
      <li class="word-item">анализ статистики</li>
    </div>
    <div class="words-row words-2-row">
      <li class="word-item">постинг</li>
      <li class="word-item with-white-ellipse">smm</li>
      <li class="word-item">разработка контент-плана</li>
      <li class="word-item with-white-ellipse">организация фото-видеосъемок</li>
    </div>
    <div class="words-row words-3-row">
      <li class="word-item">построение воронки продаж</li>
      <li class="word-item with-white-ellipse">дизайн сайтов</li>
      <li class="word-item">сторитейлинг</li>
      <li class="word-item">оформление чек-листов</li>
    </div>
    <div class="words-row words-4-row">
      <li class="word-item">разработка рекламных креативов</li>
      <li class="word-item with-white-ellipse">дизайн рекламных лендингов</li>
      <li class="word-item">оформление Highlights</li>
    </div>
    <div class="words-row words-5-row">
      <li class="word-item with-white-ellipse">разработка телеграм-бота</li>
      <li class="word-item">дизайн профиля Instagram</li>
      <li class="word-item">создание и запуск веб-приложений</li>
    </div>
    <div class="words-row words-6-row">
      <li class="word-item">event-услуги</li>
        <li class="word-item">повышение конверсии</li>
      <li class="word-item with-white-ellipse">таргет</li>
      <li class="word-item">консультации</li>
      <li class="word-item with-white-ellipse">аудит компании</li>
    </div>
  </ul>
  <img class="ellipse-orange" src="assets/images/our-principles-ellipse-orange.png" alt="ellipse-orange" height="1143" width="565">
  <div class="text-and-photo">
    <div class="text">
      <h2 class="lets-get-to-know-each-other">позакомьтесь<br/>с нами <span>ближе</span></h2>
      <p class="you-can-use">
        Вы можете воспользоваться одной из предложенных услуг или<br/>
        подобрать для себя удобный пакет. Мы не даем “готовые” решения<br/>
        для всех, а предоставляем индивидуальные рекомендации. У вас<br/>
        есть шанс узнать точки роста вашего бизнеса и начать бороться с<br/>
        главными проблемами, которые мешают вам расти, <span>на нашей</span><br/>
        <span>консультации</span>, где вы также ознакомитесь с возможным<br/>
        сотрудничеством со Spicy Agency.<br/>
        Вы узнаете:
      </p>
      <ul class="actions-list">
        <li class="action-item">продающий ли у вас аккаунт (разберем аватар, шапку профиля,<br/>визуал);</li>
        <li class="action-item">актуальный ли контент (содержание, сторис, посты, видео,<br/>хайлайтсы);</li>
        <li class="action-item">эффективная ли воронка продаж;</li>
        <li class="action-item">рабочие ли пути продвижения.</li>
      </ul>
    </div>
    <img class="girls"
         src="assets/images/girls-services-photo.png"
         alt="3 девушки"
         width="412"
         height="454">
    <img class="hand-with-magnifier"
         src="assets/images/hand-with-magnifier.png"
         alt="рука с лупой"
         height="372"
         width="476">
  </div>
</section>

<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
