<section class="section account-start-from-scratch-section">
  <h1 class="innodom">
    innodom —
    <span>онлайн-обучение востребованным<br/>IT-специальностям с реальным разработчиком</span>
  </h1>
  <h2 class="section-header account-start-from-scratch">запуск аккаунта с нуля</h2>
  <p class="section-description description">
    Создание аккаунта и его настройка с учетом пожеланий<br/>
    бренда. Проводилось постоянное привлечение новых<br/>
    подписчиков с помощью рекламных кампаний и<br/>
    креативного контента, которые были направлены на<br/>
    увеличение узнаваемости бренда INNODOM в<br/>
    социальных сетях. В работе применялось подробное<br/>
    описание всех уникальных преимуществ и предложений<br/>
    школы программирования
  </p>
  <img class="picture"
       src="assets/images/innodom/innodom-account-start-from-scratch.webp"
       alt="скриншоты из Instagram компании Innodom"
       width="475"
       height="543">
</section>
<section class="section ugc-content-creation-section">
  <h2 class="section-header ugc-content-creation">создание<br/>ugc-контента</h2>
  <p class="section-description description">
    Представляет собой контент, который создают<br/>
    и публикуют сами пользователи. Это может<br/>
    включать в себя фотографии, отзывы, видео,<br/>
    комментарии, посты в социальных сетях<br/>
    и другие формы контента.<br/>
    Создание UGC может быть мощным<br/>
    инструментом маркетинга, так как это позволяет<br/>
    бренду вовлекать свою аудиторию, усиливать<br/>
    взаимодействие и повышать доверие.
  </p>
  <img class="picture"
       src="assets/images/innodom/ugc-content-creation.webp"
       alt="скриншоты reels из Instagram"
       width="463"
       height="377">
</section>
<section class="section additional-pages-declaration-section">
  <h2 class="section-header additional-pages-declaration">оформление дополнительных<br/>страниц в фирменном<br/>стиле</h2>
  <p class="section-description description">
    С развитием онлайн-школы и увеличением количества<br/>
    курсов, возникла потребность в создании<br/>
    дополнительных страниц для основного сайта<br/>
    компании. Мы тщательно анализировали<br/>
    основные элементы дизайна уже<br/>
    существующего сайта клиента, включая<br/>
    цветовую палитру, типографику и структуру.<br/>
    Наш дизайнер обеспечил согласованность<br/>
    новых страниц с текущим дизайном,<br/>
    сохраняя узнаваемость бренда.
  </p>
  <img class="picture"
       src="assets/images/innodom/additional-pages-declaration.webp"
       alt="скриншоты страниц сайта Innodom"
       width="621"
       height="383">
</section>
<section class="section tik-tok-account-development-section">
  <h2 class="section-header tik-tok-account-development">развитие<br/>аккаунта в tik-tok</h2>
  <p class="section-description description">
    Представляет собой контент, который создают<br/>
    и публикуют сами пользователи. Это может<br/>
    включать в себя фотографии, отзывы, видео,<br/>
    комментарии, посты в социальных сетях<br/>
    и другие формы контента.<br/>
    Создание UGC может быть мощным<br/>
    инструментом маркетинга, так как это позволяет<br/>
    бренду вовлекать свою аудиторию, усиливать<br/>
    взаимодействие и повышать доверие.
  </p>
  <div class="pictures">
    <img class="tt-1" src="assets/images/innodom/tik-tok-account-development-1.webp" alt="скриншот из Tik-tok #1" width="165" height="337">
    <img class="tt-2" src="assets/images/innodom/tik-tok-account-development-2.webp" alt="скриншот из Tik-tok #2" width="165" height="337">
    <img class="tt-3" src="assets/images/innodom/tik-tok-account-development-3.webp" alt="скриншот из Tik-tok #3" width="165" height="337">
  </div>
  <ul class="tik-tok-analysis-list">
    <li class="list-item">
      <img class="list-item-picture"
           src="assets/images/innodom/tt-1.webp"
           alt="скриншот #1 анализа видео из Tik-Tok"
           width="1170"
           height="941">
      <p class="analysis-description">ERR = <span>8,24%</span></p>
    </li>
    <li class="list-item">
      <img class="list-item-picture"
           src="assets/images/innodom/tt-2.webp"
           alt="скриншот #2 анализа видео из Tik-Tok"
           width="1169"
           height="941">
      <p class="analysis-description">ERR = <span>9,04%</span></p>
    </li>
    <li class="list-item">
      <img class="list-item-picture"
           src="assets/images/innodom/tt-3.webp"
           alt="скриншот #3 анализа видео из Tik-Tok"
           width="1170"
           height="934">
      <p class="analysis-description">ERR = <span>7,62%</span></p>
    </li>
  </ul>
</section>
<section class="section open-doors-day-section">
  <h2 class="section-header open-doors-day">день открытых<br/>дверей</h2>
  <p class="section-description description">
    Предложенный инструмент для привлечения новых<br/>
    лидов в it-школу, где потенциальные студенты<br/>
    могли ближе познакомиться со школой, прослушать<br/>
    полезные лекции для новичков в разработке<br/>
    и бесплатно получить личную консультацию<br/>
    от опытного специалиста. Во время<br/>
    реализации <span>выполнено</span>:
  </p>
  <ul class="section-achievements achievements-list">
    <li class="achievements-list-item">построение рекламной стратегии для<br/>привлечения посетителей мероприятия;</li>
    <li class="achievements-list-item">дизайн графического материала<br/>для соц.сетей;</li>
    <li class="achievements-list-item">привлечение экспертов;</li>
    <li class="achievements-list-item">проведение и организация мероприятия.</li>
  </ul>
  <photo-collage class="photo-collage" [photos]="openDayPhotos"></photo-collage>
</section>
<section class="section digital-conference-section">
  <h2 class="section-header digital-conference">digital-конференция</h2>
  <p class="section-description description">
    Спикеры рассказали про личный бренд, личный<br/>
    блог, упаковку аккаунтов в Инстаграм, также был<br/>
    проведен мастер-класс по речи и стендап про<br/>
    фриланс. Кроме того, были организованы<br/>
    нетворкинг и вкусный ланч с пиццей. Во время<br/>
    реализации <span>выполнено</span>:
  </p>
  <ul class="section-achievements achievements-list">
    <li class="achievements-list-item">построение рекламной стратегии для<br/>привлечения посетителей мероприятия;</li>
    <li class="achievements-list-item">дизайн графического<br/>материала для соц.сетей;</li>
    <li class="achievements-list-item">привлечение экспертов;</li>
    <li class="achievements-list-item">обустройство площадки.</li>
  </ul>
  <photo-collage class="photo-collage" [photos]="digitalConferencePhotos"></photo-collage>
</section>
<section class="section workshop-for-designers-section">
  <h2 class="section-header workshop-for-designers">воркшоп для<br/>дизайнеров</h2>
  <p class="section-description description">
    Воркшоп — это обучающее мероприятие,<br/>
    в котором упор делается на практику. Участники<br/>
    получали знания прямо «на производстве» под<br/>
    руководством опытного наставника. Теория<br/>
    сразу же закреплялась на практике, что очень<br/>
    важно в сфере дизайна. Во время реализации<br/>
    <span>выполнено</span>:
  </p>
  <ul class="section-achievements achievements-list">
    <li class="achievements-list-item">привлечение наставников;</li>
    <li class="achievements-list-item">проведение мероприятия;</li>
    <li class="achievements-list-item">создание рекламных креативов для<br/>привлечения людей на мероприятие.</li>
  </ul>
  <photo-collage class="photo-collage" [photos]="workshopForDesignersPhotos"></photo-collage>
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
