<section class="section account-development-with-firm-style-section">
  <h1 class="pane">
    pane —
    <span>уютное небольшое кафе с завтраками целый<br/>день в самом центре Минска</span>
  </h1>
  <h2 class="section-header account-development-with-firm-style">развитие фирменного<br/>стиля бренда</h2>
  <p class="section-description description">
    Проработали и исправили оформление аккаунта, ввели<br/>
    акцентные фирменные цвета, подобрали новую шапку<br/>
    профиля и качественные хештеги. Сделали акцент на<br/>
    качественные фото-видеоматерилы. Разработали<br/>
    стратегию контента, включая образовательные,<br/>
    информационые и развлекательные материалы.
  </p>
  <img class="picture"
       src="../../../../assets/images/cube/pane.webp"
       alt="скриншоты из Instagram проекта Pena"
       width="477"
       height="624">
  <p class="section-description description-2">
    Весь акцент был построен на “вкусных” фотографиях,<br/>
    живых видео и эмоциях. Качественный контент для<br/>
    бренда, связанного с едой, критически важен по ряду<br/>
    причин: наглядное представление того, какое качество<br/>
    клиенты получат в заведении, фирменный стиль,<br/>
    поддержание интереса и вовлечение аудитории.<br/>
    Поэтому для создания визуала фотосессия<br/>
    производилась с помощью профессионального<br/>
    фотографа. Также были реализованы ролики<br/>
    юмористического и информативного характера для<br/>
    поднятия охватов, повышения узнаваемости и<br/>
    увеличения лояльности пользователей.
  </p>
  <img class="picture-2"
       src="../../../../assets/images/cube/pane-2.webp"
       alt="скриншоты из Instagram проекта Pena"
       width="450"
       height="613">
</section>
<section class="section account-start-from-scratch-section">
  <h1 class="to-car">
    to car —
    <span>удобный прокат свежих и обслуженных<br/>автомобилей в Минске с любым сроком аренды</span>
  </h1>
  <h2 class="section-header account-start-from-scratch">запуск аккаунта с нуля</h2>
  <p class="section-description description">
    Так как мы столкнулись с ситуацией, где основной<br/>
    аккаунт состоял на 90% из ботов или “неживых”<br/>
    пользователях, было принято решение завести новую<br/>
    страницу. Разработали полное визуальное оформление<br/>
    и фирменный стиль компании в соответствии с<br/>
    имеющимся сайтом и видением бренда. Прорабатывали<br/>
    с нуля цели и ценности компании, выбор стратегии<br/>
    продвижения и знакомства с пользователями.<br/>
    Организовывали фотосессию для запуска аккаунта,<br/>
    разрабатывали стратегию контента, включая<br/>
    образовательные материалы и информацию о<br/>
    путешествиях на автомобиле. Обозревали возможности<br/>
    аренды в основном в видеоформате.
  </p>
  <img class="picture"
       src="assets/images/cube/to-car.webp"
       alt="скриншоты из Instagram проекта to car"
       width="494"
       height="705">
</section>
<section class="section account-repack-section">
  <h1 class="pane">
    groove street —
    <span>барбершоп, стрижка в котором идеально<br/>подчеркнет образ любого мужчины</span>
  </h1>
  <h2 class="section-header account-repack">переустановка аккаунта</h2>
  <p class="section-description description">
    Ранее в профиле размещались только фотографии<br/>
    стрижек без отображения фирменного стиля и<br/>
    узнаваемости. В связи с чем была разработана<br/>
    стратегия внедрения графического контента, в котором<br/>
    также отображалась полезная информация для<br/>
    пользователей. Организовали профессиональную<br/>
    фотосъемку с моделями и барберами. В социальных<br/>
    сетях качественные фотографии являются ключевым<br/>
    фактором привлечения внимания пользователей.
  </p>
  <div class="picture-wrapper">
    <img class="picture"
         src="../../../../assets/images/cube/groove-street.webp"
         alt="скриншоты из Instagram проекта groove street, до и после"
         width="494"
         height="689">
    <div class="before-after">
      <span>до</span>
      <span>после</span>
    </div>
  </div>
  <p class="section-description description-2">
    Регулярное размещение качественного материала<br/>
    может помочь привлечь новых подписчиков и<br/>
    увеличить активность в профиле. Стратегия<br/>
    взаимодействия бренда с аудиторией была<br/>
    выстроена на “персонажах” и дружеской атмосфере,<br/>
    которой придерживается барбершоп. Важной целью<br/>
    стояло познакомить аудиторию с людьми,<br/>
    с которыми они столкнуться при записи.<br/>
    Юмористический контент создавал связь<br/>
    пользователя с барбершопом, так как упор шел на<br/>
    “жизненные” ситуации. Также в барбершопе<br/>
    реализуется продажа профессиональной косметики,<br/>
    на что был сделан упор в постах разного типа.
  </p>
  <img class="picture-2"
       src="../../../../assets/images/cube/groove-street-2.webp"
       alt="скриншоты из Instagram проекта groove street"
       width="570"
       height="613">
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
