.section {
  position: relative;
  display: flex;
  flex-direction: column;

  .pane,
  .to-car {
    position: relative;
    margin-left: 9px;
    font-family: Soyuz-Grotesk, sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 96.3px;
    letter-spacing: 1px;
    color: var(--text-white);

    span {
      position: absolute;
      top: 100px;
      left: 152px;
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 29.05px;
    }
  }

  .section-header {
    font-family: Soyuz-Grotesk, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 57.78px;
    letter-spacing: 1px;
  }

  .section-description,
  .section-achievements {
    font-size: 24px;
    line-height: 31.49px;
    color: var(--text-white);
  }
}


.account-development-with-firm-style-section {
  margin: 48px 0 33px 75px;

  .account-development-with-firm-style {
    margin: 95px 0 16px;
    color: var(--orange);
  }

  .description-2 {
    margin: 195px 0 0 430px;
  }

  .picture {
    position: absolute;
    top: 85px;
    left: 726px;
    width: 438px;
    height: 596px;
  }

  .picture-2 {
    position: absolute;
    top: 512px;
    left: -43px;
    width: 438px;
    height: 596px;
  }
}

.account-start-from-scratch-section {
  margin: 0 0 92px 75px;

  .account-start-from-scratch {
    margin: 95px 0 16px;
    color: var(--purple);
  }

  .picture {
    position: absolute;
    top: 0;
    right: -30px;
    width: 493px;
    height: 704px;
  }
}

.account-repack-section {
  margin: 0 0 31px 75px;

  .account-repack {
    margin: 95px 0 16px;
    color: var(--orange);
  }

  .picture-wrapper {
    position: absolute;
    top: 0;
    right: -30px;
    display: flex;
    flex-direction: column;

    .picture {
      width: 493px;
      height: 704px;
    }

    .before-after {
      display: flex;
      justify-content: center;
      margin-top: -17px;

      span {
        font-family: Soyuz-Grotesk, sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 38.52px;
        letter-spacing: 3px;
        color: var(--purple);

        &:first-of-type {
          margin-right: 155px;
        }
      }
    }
  }

  .description-2 {
    margin: 200px 0 0 460px;
  }

  .picture-2 {
    position: absolute;
    top: 548px;
    left: -63px;
    width: 539px;
    height: 575px;
  }
}
