// Thin
@font-face {
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-Thin.ttf') format("truetype");
}
// Thin Italic
//@font-face {
//  font-family: 'Roboto';
//  font-weight: 100;
//  font-style: italic;
//  font-stretch: normal;
//  src: url('^assets/fonts/Roboto-ThinItalic.ttf') format("truetype");
//}

// ExtraLight
@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-ExtraLight.ttf') format("truetype");
}

// Light
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-Light.ttf') format("truetype");
}
// Light Italic
//@font-face {
//  font-family: 'Roboto';
//  font-weight: 300;
//  font-style: italic;
//  font-stretch: normal;
//  src: url('^assets/fonts/Roboto-LightItalic.ttf') format("truetype");
//}

// Regular
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-Regular.ttf') format("truetype");
}
// Italic
//@font-face {
//  font-family: 'Roboto';
//  font-weight: 400;
//  font-style: italic;
//  font-stretch: normal;
//  src: url('^assets/fonts/Roboto-Italic.ttf') format("truetype");
//}

// Medium
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-Medium.ttf') format("truetype");
}
// Medium Italic
//@font-face {
//  font-family: 'Roboto';
//  font-weight: 500;
//  font-style: italic;
//  font-stretch: normal;
//  src: url('^assets/fonts/Roboto-MediumItalic.ttf') format("truetype");
//}

// SemiBold
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-SemiBold.ttf') format("truetype");
}

// Bold
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-Bold.ttf') format("truetype");
}
// Bold Italic
//@font-face {
//  font-family: 'Roboto';
//  font-weight: 700;
//  font-style: italic;
//  font-stretch: normal;
//  src: url('^assets/fonts/Roboto-BoldItalic.ttf') format("truetype");
//}

// ExtraBold
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-ExtraBold.ttf') format("truetype");
}

// Black
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Inter-Black.ttf') format("truetype");
}
// Black Italic
//@font-face {
//  font-family: 'Roboto';
//  font-weight: 900;
//  font-style: italic;
//  font-stretch: normal;
//  src: url('^assets/fonts/Roboto-BlackItalic.ttf') format("truetype");
//}

// Soyuz-Grotesk-Bold
@font-face {
  font-family: 'Soyuz-Grotesk';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('^assets/fonts/Soyuz-Grotesk-Bold.woff') format("woff"), url('^assets/fonts/Soyuz-Grotesk-Bold.otf') format("opentype");
}
