<section class="section account-development-with-firm-style-section">
  <h1 class="petlab">
    petlab —
    <span>мобильное приложение для сбора, хранения,<br/>управления и использования важной<br/>информации о домашних питомцах</span>
  </h1>
  <h2 class="section-header account-development-with-firm-style">развитие аккаунта<br/>в фирменном стиле</h2>
  <p class="section-description description">
    Проработали и исправили оформление аккаунта,<br/>
    подобрали новую шапку профиля и качественные<br/>
    хештеги. Развивали фирменный стиль и узнаваемость<br/>
    с учетом пожеланий бренда. Разработали стратегию<br/>
    контента, включая образовательные и развлекательные<br/>
    материалы, чтобы привлекать не только клиентов,<br/>
    но и <span>экспертов</span> для развития аккаунта. Делали упор<br/>
    на уникальные возможности приложения, также<br/>
    организовали конкурсы, опросы и акции, чтобы<br/>
    стимулировать участие аудитории и вовлечение<br/>
    в сообщество. Находили и привлекали <span>партнеров</span><br/>
    для большей узнаваемости продукта.
  </p>
  <img class="picture"
       src="assets/images/petlab/petlab-account.webp"
       alt="скриншоты из Instagram компании Petlab"
       width="453"
       height="733">
</section>
<section class="section organic-promotion-with-reels-section">
  <h2 class="section-header organic-promotion-with-reels">органическое<br/>продвижение с<br/>помощью reels</h2>
  <p class="section-description description">
    Видеоконтент представляет собой мощный<br/>
    инструмент для создания взаимодействия с<br/>
    аудиторией, увеличения узнаваемости бренда,<br/>
    продвижения продуктов и услуг, а также<br/>
    установления долгосрочных отношений с<br/>
    клиентами. В стратегию развития аккаунта,<br/>
    повышения доверия пользователей к нему и<br/>
    привлечения подписчиков входили не только<br/>
    развлекательные видео, но и экспертные.
  </p>
  <img class="picture"
       src="assets/images/petlab/phones.webp"
       alt="скриншоты reels из Instagram"
       width="495"
       height="539">
  <div class="statistics-wrapper">
    <p class="description">
      Пользователи социальных сетей<br/>
      заинтересованы в получении<br/>
      информации и советов от специалистов,<br/>
      которым они могут доверять.<br/>
      Но для сохранения баланса всегда<br/>
      применяются тренды, которые можно<br/>
      адаптировать под стилистику аккаунта.
    </p>
    <ul class="statistics-list">
      <li class="statistics-list-item">
        <img src="../../../../assets/images/petlab/statistics-1.webp" alt="скриншот статистики по reels 1" width="585" height="1010">
      </li>
      <li class="statistics-list-item">
        <img src="assets/images/petlab/statistics-2.webp" alt="скриншот статистики по reels 2" width="585" height="1009">
      </li>
      <li class="statistics-list-item">
        <img src="../../../../assets/images/petlab/statistics-3.webp" alt="скриншот статистики по reels 3" width="585" height="1021">
      </li>
    </ul>
  </div>
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
