<section class="section forming-advertisement-creatives-section">
  <h1 class="edugusarov">
    edugusarov —
    <span>онлайн-курсы, которые помогут обучиться<br/>востребованным направлениям в сфере маркетинга</span>
  </h1>
  <h2 class="section-header forming-advertisement-creatives">оформление<br/>рекламных креативов</h2>
  <p class="section-description description">
    Основное направление сотрудничества — потоковое<br/>
    создание рекламных креативов для таргета, так как<br/>
    школа постоянно запускает новые обучения, проводит<br/>
    различные офлайн-мероприятия, а также<br/>
    разрабатывает новые предложения для<br/>
    пользователей. Поэтому важно было делать акцент на<br/>
    главном предложении, правильно его доносить,<br/>
    попадать в ЦА и быть в тренде.
  </p>
  <img class="picture"
       src="assets/images/edu-gusarov/forming-advertisement-creatives.webp"
       alt="рекламные креативы"
       width="523"
       height="647">
</section>
<section class="section check-lists-as-lead-magnet-creation-section">
  <h2 class="section-header check-lists-as-lead-magnet-creation">создание чек-листов<br/>как лид-магнит</h2>
  <p class="section-description description">
    Лид-магнит (lead magnet) в интернет-маркетинге —<br/>
    это ценное предложение, которое компании<br/>
    предоставляют своим потенциальным клиентам в<br/>
    обмен на их контактные данные, такие как адрес<br/>
    электронной почты, номер телефона и т.д. Цель<br/>
    лид-магнита — привлечь внимание аудитории,<br/>
    убедить их оставить свои контактные данные и<br/>
    начать взаимодействие с компанией. С этой целью<br/>
    мы использовали чек-листы с актуальной и полезной<br/>
    информацией, которую пользователи могут<br/>
    использовать для своих целей.
  </p>
  <img class="picture"
       src="assets/images/edu-gusarov/check-lists-as-lead-magnet-creation.webp"
       alt="чек-листы"
       width="1871"
       height="1474">
</section>
<section class="section advertisement-landings-development-section">
  <h2 class="section-header advertisement-landings-development">разработка рекламных<br/>лендингов в фирменном<br/>стиле</h2>
  <p class="section-description description">
    Разрабатывали несколько рекламных лендингов для<br/>
    продвижения новых продуктов школы, где<br/>
    пользователи легко смогут найти всю необходимую<br/>
    информацию о курсе.  Рекламные лендинги — это<br/>
    специальные веб-страницы, созданные с целью<br/>
    эффективного привлечения внимания потенциальных<br/>
    клиентов и стимулирования их к определенным<br/>
    действиям, таким как покупка товара или услуги,<br/>
    подписка на рассылку и заполнение формы.
  </p>
  <img class="picture"
       src="assets/images/edu-gusarov/advertisement-landings-development.webp"
       alt="рекламные креативы"
       width="530"
       height="402">
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
