<section class="who-are-that-spicy-section">
  <div class="text">
    <h2 class="who-are-that-spicy">
      <span class="who-are-that">так кто же такие эти</span>
      <span class="spicy">spicy</span>
    </h2>
    <p class="any-business">
      Любой бизнес — это не только ряд рабочих<br/>
      инструментов, выполненных планов и количество<br/>
      продаж. Абсолютно за любым бизнесом в первую<br/>
      очередь стоят люди, которые его формируют. Так и<br/>
      <span>Spicy Agency</span> — это в первую очередь соединение<br/>
      абсолютно разных и интересных людей, которые<br/>
      являются специалистами своей сферы
    </p>
  </div>
  <div class="photo-and-link">
    <img class="three-girls"
         src="assets/images/about-us-girls.png"
         alt="три девушки"
         width="635"
         height="530">
    <img class="blot"
         src="assets/images/blot.png"
         alt="клякса"
         width="815"
         height="745">
    <img class="arrow"
         src="assets/images/mp-arrow.png"
         alt="стрелк"
         width="131"
         height="65">
    <submit-application-link-button class="submit-link"
                                    [linkHref]="'/about-us#application-form'"></submit-application-link-button>
  </div>
</section>
<section class="girls">
  <div class="first">
    <img class="photo-nastya" src="assets/images/about-us-nastya.png" alt="Настя" width="675" height="445">
    <div class="text">
      <h2 class="name name-nastya">настя</h2>
      <p class="description">
        После получения 2 образования, Настя поняла, что<br/>
        маркетинг — это про неё. Получая 3 образование, она<br/>
        решает открыть свое антикафе, на примере которого<br/>
        понимает, что нужно клиенту. Во время<br/>
        предпринимательства, она осознает, что маркетинг<br/>
        влечет больше, и начинает развиваться в этой сфере.<br/>
        Книги, курсы, вебинары, первый клиент — и на данный<br/>
        момент за плечами более 15 ниш и 5 лет опыта.
      </p>
    </div>
  </div>
  <div class="second">
    <img class="photo-vika" src="assets/images/about-us-vika.png" alt="Вика" width="630" height="466">
    <div class="text">
      <h2 class="name name-vika">вика</h2>
      <p class="description">
        Креативная жилка в ней была с детства, поэтому она<br/>
        решила направить это в правильное русло, окончить<br/>
        факультет “Маркетинг” в БТЭУ ПК и стать TikTok-<br/>
        мейкером. Достигнув просмотров от 20 миллионов в<br/>
        коммерческом аккаунте, приняла решение покорять<br/>
        остальные площадки digital-мира, не останавливаясь<br/>
        на 5 нишах в TikTok
      </p>
    </div>
  </div>
  <div class="third">
    <img class="photo-katya" src="assets/images/about-us-katya.png" alt="Вика" width="567" height="393">
    <div class="text">
      <h2 class="name name-katya">катя</h2>
      <p class="description">
        Окончив вышку по специальности “проект-менеджер”,<br/>
        Катя понимает, что в жизни нужен еще и креатив.<br/>
        Работает в лагере с детьми, творит из всего, что есть<br/>
        под рукой, рисует, занимается постановками и<br/>
        наслаждается каждый процессом. После этого<br/>
        подается на курсы дизайна, где открывает еще одну<br/>
        часть себя. Счастливый случай приводит ее в место,<br/>
        где можно задействовать все свои умения: управлять,<br/>
        следить, развивать, дизайнить и креативить.
      </p>
    </div>
  </div>
</section>
<section class="we-will-help-you-section">
  <h2 class="we-will-help-you">также мы поможем вам подобрать<br/>необходимого специалисты, чтобы<br/>полностью закрыть ваши потребности<br/>в работе над соц. сетями</h2>
  <img class="girl-with-smiles"
       src="assets/images/girl-with-smiles.png"
       alt="девочка и смайлы вокруг неё"
       width="999"
       height="666">
</section>
<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
