.mp-spicy-agency {
  position: relative;
  height: 720px;
  display: flex;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/nastya-bg-main-page.webp");
    background-repeat: no-repeat;
    background-origin: unset;
    background-position: 0 52%;
    background-size: 105%;
    filter: grayscale(1);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 15px;
    width: 262px;
    height: 100%;
    background-image: url("/assets/images/noise-bg.webp");
    background-repeat: no-repeat;
    opacity: 50%;
  }

  .mp-laptop-spicy {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  .spicy-header-and-button {
    position: relative;
    margin-top: 353px;
    margin-left: 74px;
    z-index: 2;

    .creative-smm-agency {
      color: var(--orange);
      font-size: 55px;
      line-height: 53px;
      font-family: Soyuz-Grotesk, sans-serif;
      font-weight: 700;
      z-index: 2;
      position: relative;
    }

    .spicy-header {
      color: #FFFFFF;
      font-size: 350px;
      line-height: 337px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: -10px;
      font-family: Soyuz-Grotesk, sans-serif;
      font-weight: 700;
      letter-spacing: 10px;
    }
  }

  .button-with-link {
    position: absolute;
    top: 375px;
    left: 895px;
    z-index: 2;
    display: flex;

    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      background-image: url("/assets/images/mp-arrow.png");
      background-repeat: no-repeat;
      width: 135px;
      height: 68px;
    }

    .leave-application-link {
      font-weight: 500;
      font-size: 24px;
      line-height: 31.5px;
      color: #FFFFFF;
      padding: 32px 56px;
      background-color: var(--orange);
      border-radius: 50%;
      border: 1px solid #FFFFFF;
      text-decoration: none;
      margin-top: 183px;

      &:before {
        content: "";
        position: absolute;
        top: 183px;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        transform: rotate(-3.16deg);
      }
    }
  }
}
