<section class="mp-spicy-agency">
  <img class="mp-laptop-spicy" ngSrc="assets/images/laptop-spicy-main.png" height="720" width="795" alt="spicy-agency-girls">
  <div class="spicy-header-and-button">
    <p class="creative-smm-agency">креативное<br/>smm-агенство</p>
    <h1 class="spicy-header">spicy</h1>
  </div>
  <div class="button-with-link">
    <a href="#" class="leave-application-link">
      Оставить заявку
    </a>
  </div>
</section>
<div class="about-us-and-done-work-and-cases">
  <section class="about-us">
    <div class="mouth-with-red-lips-and-arrow">
      <img class="mouth-with-red-lips" ngSrc="assets/images/mouth-with-red-lips.webp" alt="mouth-with-red-lips" width="536" height="564">
    </div>
    <h2 class="yes-we-are-cool">ну да, мы классные</h2>
    <p class="we-are-young-agency">Мы молодое агентство, но мы уже успели<br/>покорить 10+ ниш с помощью креативного<br/>контента, смелых идей и нестандартных решений</p>
    <span class="we-are-creative-agency">Мы креативное агентство</span>
    <p class="that-means">Это значит, что мы разрабатываем стратегию,<br/>а затем соединяем маркетинг, дизайн, копирайтинг,<br/>видеопродакшн и сторителлинг, чтобы выстроить<br/>продающую историю вашего бренда</p>
    <p class="we-will-take">Мы полностью возьмем продвижение в соц. сетях на себя.<br/>Вы получите не просто красиво упакованный аккаунт.</p>
    <span class="you-will-receive-account">Вы получите аккаунт, который приносит прибыль</span>
  </section>
  <section class="done-work">
    <span class="what-we-have-done">что мы сделали</span>
    <div class="sign-wrapper">
      <p class="done-work-sign">проделанная работа</p>
    </div>
    <div class="sign-wrapper second">
      <p class="done-work-sign">проделанная работа</p>
    </div>
  </section>
  <section class="cases">
    <div class="description">
      <p class="text">Мы считаем, что новый мир значительно расширил<br/>возможности для общения с людьми и развития<br/>бизнеса. Проекты, которые имеют реальное влияние,<br/>такие как платформа цифрового обучения, которую<br/>мы развивали для Innodom в Instagram и TikTok;<br/>развитие бренда PetLab, который позволил завоевать<br/>сердца владельцев различных домашних питомцев,<br/>и цифровая стратегия, которая помогла собрать<br/>амбициозных и креативных людей на одной площадке</p>
      <a class="all-cases-link" href="#">Все кейсы →</a>
    </div>
    <ul class="case-list">
      <li class="case-item" *ngFor="let tile of tiles">
        <case-tile [src]="tile.src" [alt]="tile.alt" [description]="tile.description" [link]="tile.link"></case-tile>
      </li>
    </ul>
  </section>
</div>
