.mp-spicy-agency {
  position: relative;
  height: 720px;
  display: flex;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(^assets/images/nastya-bg-main-page.webp);
    background-repeat: no-repeat;
    background-origin: unset;
    background-position: 0 52%;
    background-size: 105%;
    filter: grayscale(1);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 15px;
    width: 262px;
    height: 100%;
    background-image: url(^assets/images/noise-bg.webp);
    background-repeat: no-repeat;
    opacity: 50%;
  }

  .mp-laptop-spicy {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  .spicy-header-and-button {
    position: relative;
    margin-top: 353px;
    margin-left: 74px;
    z-index: 2;

    .creative-smm-agency {
      color: var(--orange);
      font-size: 55px;
      line-height: 53px;
      font-family: Soyuz-Grotesk, sans-serif;
      font-weight: 700;
      z-index: 2;
      position: relative;
    }

    .spicy-header {
      color: #FFFFFF;
      font-size: 350px;
      line-height: 337px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: -10px;
      font-family: Soyuz-Grotesk, sans-serif;
      font-weight: 700;
      letter-spacing: 10px;
    }
  }

  .button-with-link {
    position: absolute;
    top: 375px;
    left: 895px;
    z-index: 2;
    display: flex;

    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      background-image: url(^assets/images/mp-arrow.png);
      background-repeat: no-repeat;
      width: 135px;
      height: 68px;
    }

    .leave-application-link {
      font-weight: 500;
      font-size: 24px;
      line-height: 31.5px;
      color: #FFFFFF;
      padding: 32px 56px;
      background-color: var(--orange);
      border-radius: 50%;
      border: 1px solid #FFFFFF;
      text-decoration: none;
      margin-top: 183px;

      &:before {
        content: "";
        position: absolute;
        top: 183px;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        transform: rotate(-3.16deg);
      }
    }
  }
}

.about-us-and-done-work-and-cases {
  display: flex;
  flex-direction: column;
  background-image: url(^assets/images/background-1.webp);
  background-repeat: repeat;
  background-position: 40% 0;
  background-size: 130%;

  .about-us {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 8px;

    .mouth-with-red-lips-and-arrow {
      position: absolute;
      top: 125px;

      .mouth-with-red-lips {
        width: 561px;
        height: 563px;
      }

      &:before {
        content: '';
        position: absolute;
        background-image: url(^assets/images/mouth-with-red-lips-arrow.png);
        top: 285px;
        left: 415px;
        width: 176.36px;
        height: 106.62px;
        background-repeat: no-repeat;
      }
    }

    .yes-we-are-cool {
      font-size: 50px;
      font-weight: 700;
      font-family: Soyuz-Grotesk, sans-serif;
      color: var(--purple);
      line-height: 48.15px;
      margin: 88px 0 0 75px;
    }

    .we-are-young-agency {
      font-size: 24px;
      line-height: 31.48px;
      color: var(--text-black);
      margin: 46px 0 0 551px;
      letter-spacing: -1px;
    }

    .we-are-creative-agency {
      font-size: 50px;
      font-weight: 700;
      font-family: Soyuz-Grotesk, sans-serif;
      color: var(--purple);
      line-height: 48.15px;
      margin: 72px 0 0 504px;
    }

    .that-means {
      font-size: 24px;
      line-height: 31.48px;
      color: var(--text-black);
      margin: 44px 0 0 615px;
      letter-spacing: -1px;
    }

    .we-will-take {
      font-weight: 600;
      font-size: 24px;
      line-height: 31.48px;
      letter-spacing: -1px;
      color: var(--text-black);
      margin: 66px auto 0 auto;
      text-align: center;
    }

    .you-will-receive-account {
      font-size: 40px;
      font-weight: 700;
      font-family: Soyuz-Grotesk, sans-serif;
      color: var(--purple);
      line-height: 38.52px;
      margin: 32px auto 69px auto;
    }
  }

  .done-work {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 305px;
    overflow: hidden;

    .what-we-have-done {
      margin: 83px 0 0 938px;
      font-weight: 500;
      font-size: 32px;
      line-height: 38.73px;
      letter-spacing: 3px;
      color: var(--orange);
    }

    .sign-wrapper {
      animation: running-text 10s linear infinite;

      .done-work-sign {
        position: absolute;
        top: -30px;
        right: 0;
        left: 0;
        font-family: Soyuz-Grotesk, sans-serif;
        font-weight: 700;
        font-size: 200px;
        line-height: 192.6px;
        letter-spacing: 3px;
        color: #FFFFFF;
        width: 160%;
      }

      &.second {
        animation-delay: 5s;
      }
    }
  }

  .cases {
    display: flex;
    flex-direction: column;

    .description {
      position: relative;
      display: flex;
      margin: 46px 0 56px 140px;

      &:before {
        content: '';
        position: absolute;
        top: -50px;
        left: -96px;
        background-image: url(^assets/images/hand-ok.webp);
        width: 114px;
        height: 145px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        background-image: url(^assets/images/tag-pink.webp);
        width: 551px;
        height: 189px;
      }

      .text {
        font-size: 24px;
        line-height: 31.48px;
        letter-spacing: -1px;
        color: #FFFFFF;
      }

      .all-cases-link {
        margin: 258px 0 0 28px;
        font-family: Soyuz-Grotesk, sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: underline;
        color: var(--orange);
      }
    }

    .case-list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

@keyframes running-text {
  // width of translate should be equal to the width of the applied element on (160% for .done-work-sign)
  0% {
    transform: translateX(160%);
  }

  100% {
    transform: translateX(-160%);
  }
}
