<section class="section account-repack-section">
  <h1 class="it-overone">
    it overone —
    <span>образовательная платформа, которая помогает<br/>получить востребованную работу в сфере it-технологий</span>
  </h1>
  <h2 class="section-header account-repack">переупаковка аккаунта</h2>
  <p class="section-description description">
    На тот момент члены команды работали в штате данной<br/>
    компании. Проводились комплексные меры по<br/>
    переупаковке бренда, разрабатывалась новая<br/>
    маркетинговая стратегия развития, обновлялась<br/>
    информация. Аккаунт оформлялся исходя из заданного<br/>
    стиля и цветов бренда. Акцент делался на<br/>
    профессиональный юмор, информацию о курсах и<br/>
    мероприятиях, которые регулярно организовывались.<br/>
    Процессы по захвату рынка it-образования проводились<br/>
    комплексно по всем направлениям.
  </p>
  <div class="picture-wrapper">
    <img class="picture"
         src="assets/images/overone/account-repack.webp"
         alt="скриншоты из Instagram компании it overone, до и после"
         width="479"
         height="672">
    <div class="before-after">
      <span>до</span>
      <span>после</span>
    </div>
  </div>
</section>
<section class="section organic-promotion-with-tiktok-section">
  <h2 class="section-header organic-promotion-with-tiktok">органическое<br/>продвижение с<br/>помощью tiktok</h2>
  <p class="section-description description">
    Регулярное обновление контента поддерживает<br/>
    активность вашего профиля, что привлекает<br/>
    внимание пользователей и повышает вероятность их<br/>
    вовлечения с вашим контентом. Так как аудитория на<br/>
    платфомарх отличается, большое количество сил<br/>
    было направлено на создание трендового, а также<br/>
    уникального контента с it-темами именно в TikTok.<br/>
    Для съемок роликов привлекалось большое<br/>
    количество сотрудников, а также использовалась<br/>
    актуальная информация из сферы. За время работы<br/>
    команды аккаунт в TikTok развился с 8 тыс.<br/>
    подписчиков до 30 тыс. В Instagram — с 10 до 28 тыс.
  </p>
  <img class="picture"
       src="assets/images/overone/organic-promotion-with-help-of-tiktok.webp"
       alt="скриншоты из TikTok"
       width="504"
       height="762">
</section>
<section class="section creation-and-recording-videos-on-youtube-section">
  <h2 class="section-header creation-and-recording-videos-on-youtube">создание и съемка<br/>роликов из рубрики<br/>на youtube</h2>
  <p class="section-description description">
    Продвижение IT-школы с помощью роликов на YouTube<br/>
    может быть эффективным способом привлечения<br/>
    внимания потенциальных студентов и установления<br/>
    авторитетности бренда в области информационных<br/>
    технологий. Мы рассказывали о специальностях, по<br/>
    которым проводится обучение в школе, в чем будет<br/>
    заключаться их работа, если они выберут данное<br/>
    направление, и как курсы помогают в обучении. В 10<br/>
    простых вопросах мы закрывали многие страхи тех<br/>
    людей, которые раздумывали о том, выбирать ту или<br/>
    иную деятельность.
  </p>
  <img class="picture"
       src="assets/images/overone/creation-and-recording-videos-on-youtube.webp"
       alt="скриншоты страниц сайта Overone"
       width="481"
       height="396">
</section>
<section class="section event-organization-section">
  <h2 class="section-header event-organization">организация<br/>мероприятия</h2>
  <p class="section-description description">
    Офлайн мероприятия предоставляют возможность<br/>
    личного общения между студентами,<br/>
    преподавателями и сотрудниками школы. Это<br/>
    способствует созданию более тесного сообщества,<br/>
    обмену опытом и установлению долгосрочных связей.<br/>
    Именно с такой целью в школе были организованы<br/>
    несколько “Хакатонов”.<br/>
    Хакатон — это соревнование между командами<br/>
    в IT-сфере, суть которого сводится к поиску решения<br/>
    заявленной проблемы в рамках какого-либо продукта.
  </p>
  <img class="picture"
       src="assets/images/overone/event-organization.webp"
       alt="хакатон в overone"
       width="367"
       height="468">
</section>
<section class="qr-codes-section">
  <h2 class="qr-codes-header">Перейдя по этим QR-кодам вы можете посмотреть<br/>видеоотчеты с проведенных Хакатонов :)</h2>
  <ul class="qr-codes-list">
    <li class="qr-code-item">
      <img src="assets/images/overone/qr-code-1.png"
           alt="qr-код 1"
           class="picture"
           width="225"
           height="225">
    </li>
    <li class="qr-code-item">
      <img src="assets/images/overone/qr-code-2.png"
           alt="qr-код 2"
           class="picture"
           width="225"
           height="225">
    </li>
    <li class="qr-code-item">
      <img src="assets/images/overone/qr-code-3.png"
           alt="qr-код 3"
           class="picture"
           width="225"
           height="225">
    </li>
  </ul>
</section>

<section class="application-form" id="application-form">
  <application-form></application-form>
</section>
